<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net452" />
  <package id="kafka-net" version="0.9.0.65" targetFramework="net452" />
  <package id="NetMQ" version="3.3.3.4" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net452" />
  <package id="StackExchange.Redis.Mono" version="1.0.0" targetFramework="net452" />
</packages>